<%= render 'admin/nav' %>
<%= render 'admin/contract_plans/nav' %>
<h2>Edit Feature</h2>

<% form_for @feature , :url => admin_feature_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form' , :locals => {:f => f}%>
  <%= f.submit "Update" %>
<% end %>
