- form_for @invoice, :url => [:admin, @contract, @invoice] do |f|
  %fieldset.stylized
    %p
      = f.label :issue_date
      = f.date_select :issue_date
    %p
      = f.label :due_date
      = f.date_select :due_date
    %p
      = f.label :period_start
      = f.date_select :period_start
    %p
      = f.label :period_end
      = f.date_select :period_end
  
    - f.fields_for :line_items do |line_items_builder|
      = render 'line_item_fields', :f => line_items_builder
    %p
      = link_to_add_fields "Add Line Item", f, :line_items

    = button_for "Submit"