- body_id "admin"
= render 'admin/nav'
= render 'admin/contracts/nav'

#search_query_block
  - form_tag "", :method => "get" do
    = text_field_tag :query, params[:query], { :maxlength => 50, :id => "admin_search_query" }
    = submit_tag "Find", { :id => "admin_search_submit", :disabled => true  }

%h2 
  = @invoices.total_entries
  Past Due Invoices 
  
.clear

= render :partial => "invoices"