<h3>Consumers</h3>
<dl>
	<dt>Why do I have to log-in to print an offer?</dt>
	<dd>
		At Community Offers we want to provide the most positive consumer 
		experience with the best values—for the consumer and our advertisers.  
		Because of this we will allow you to browse our site and see our 
		offers without identifying yourself. In order to see who is using our 
		site, however, when you want to print an offer, we will ask you to 
		create a log-in.

		Our log-in is simple. We request an email address for a user name 
		and a password. You also have the opportunity to opt-in for periodic 
		emails regarding new offers in your area.

		What are we doing with the email addresses we collect? Your email 
		address is just your unique identifier for your log-in. That’s it. 
		We don’t believe in spam.  We hate it when someone does that to us 
		and we won’t do that to you.  We do have an email opt-in list as 
		mentioned above. These are limited and you may opt-out at any time. 
		Really! For more information see our privacy policy.
	</dd>

	<dt>Why are some offers shown on the map and others are not?</dt>
	<dd>
		Some offers are available through a retail location. An example of 
		these types of offers would be for a hair salon, a dine-in restaurant, 
		or an auto repair shop. In these cases the retail location is shown on the map.  
		Some offers are available via an in-home service or by delivery. An 
		example of these types of business might be a home contractor such as 
		a lawn service, pool cleaning or a utility provider. Another example 
		would be a pizza delivery.  In these cases we will show small blue 
		dots on the map of their individual offers pages. A listing of the 
		zip-codes covered will appear on their printed offers page.
		Finally, some of our advertisers will have both. For example, an Italian 
		dine-in restaurant that also delivers pizza. In these cases, the 
		advertisers may choose to show one or both types of service.
	</dd>
	
	<dt>How can I get offers texted to my cell phone?</dt>
	<dd>
		Currently we are offering texted offers in select areas. If you see a 
		"get offers via text" in the Search Results for your area, you may click 
		on that search result and follow the directions on the details page.

		There is no charge from Communityoffers.com for the texting program.  
		Standard rates will apply from your cell provider based on your individual plan.
	</dd>
	
	<dt>Why do I have to provide my address for more details on some offers?</dt>
	<dd>
		With some offers, we use your address to provide the most accurate pricing 
		and serviceability for your specific location. Pricing and serviceability 
		for many products vary by nine-digit zip code and may be highly regulated 
		by your state's Public Utility Commission. When you enter your address, our 
		system will find the exact services and prices available for your home.
	</dd>
</dl>

<h3>Businesses</h3>
<dl>
	<dt>How can I get my offer on Communityoffers.com or in your retail displays?</dt>
	<dd>
		Click on the Advertise Tab at the top of the page. Our sign up wizard 
		will guide you through four easy steps that will introduce you to our 
		programs and allow you to include your offer on Communityoffers.com.
		You can also contact us through <%= mail_to "sales@communityoffers.com" %>
	</dd>
	<dt>How can I participate in your texting program?</dt>
	<dd>
		Texting is a special add on include in our Platinum program only.  
		For more information on our different programs, click on the Advertise 
		Tab at the top of the page.
	</dd>

	<dt>How can I change my offer on your cards and on your site?</dt>
	<dd>
		Our loyalty cards are printed every three months.  If you are an 
		advertiser on one of our loyalty cards we will be contacting you 
		via email in advance of the deadline to advise you of the opportunity 
		to change your offer for the next printing.

		Your offer on the site can be changed as often as you like.  Log in to 
		your account to see the details of your current offer and feel free 
		to contact our office at <%= mail_to "customersupport@communityoffers.com" %> for 
		assistance with making changes. 
	</dd>
	
	<dt>How do I pay for my advertising on your site?</dt>
	<dd>
		Each advertiser of products and services on our site pays a monthly fee. 
		Platinum plans also pay a one-time setup fee.  Upon acceptance of your 
		content on our site and in print, we bill you monthly in advance using 
		the credit card you provided during the sign up process. Community Offers 
		doesn't store your credit card info online, but we get credit card 
		authorization to bill you monthly for the term of your contract with us. 
		During the contract billing cycle, should any credit card 
		transaction fail, we'll contact you to get authorization with another card.
	</dd>
</dl>

<p>
	<strong>For more assistance, please go to our <%= link_to "Contact Us", contact_path %> page so we can help you with your specific question.</strong>
	<p>
		Link to us on <%= link_to "Twitter", $twitter_url, :target => "_blank" %> and <%= link_to "Facebook", $facebook_url, :target => "_blank" %>.  We welcome your feedback.
	</p>
</p>
