<%= head_text "Register With Community Offers" %>

<h2 class="feature">Provide Some Basic Information</h2>

<% form_for @user, :url => consumer_users_path, :html => {:onsubmit => 'return verifyTermsAgreement();'} do |f| %>
  <%= render f %>
  <div>
    <%= check_box_tag 'confirm_agreement', 'yes' %>
    <%= "I agree to the #{link_to 'terms and conditions', terms_consumer_users_path, :id => 'terms'}." %>
  </div>
  <%= f.submit "Register" %>
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'consumer' %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'consumer', 'jquery.simplemodal-1.3.5.min.js' %>
<% end %>
